[Unit]
Description=Spine Cooling Data Acquisition Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/spine-cooling-raspberry
ExecStart=/usr/bin/python3 /home/pi/spine-cooling-raspberry/main.py
Restart=on-failure
RestartSec=3s
WatchdogSec=30s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
